body {
    background: url("./Images/BackgroundImg.jpg");
    background-size: unset;
    background-attachment: fixed;
}

#topDiv {
    /* the top menu */
    position: fixed;
    top: 0;
    height: 6rem;
    width: 90rem;
    left: 50%;  
    margin-left: -45rem;
    background-color: rgba(255, 255, 255, 0.753);
    z-index: 2;
}
#topDiv>#topLogo {
    float: left;
    margin-left: 3%;
}
#topDiv>ul {
    float: left;
    display: inline;
    list-style-type: none;
    font-family: comicSans;
    font-size: 1.3rem;
    position: relative;
    height: 2rem;
    top: 50%;
    margin-top: -1rem;
    margin-left: 10rem;
}
#topDiv>ul li {
    display: inline;
    margin-left: 4rem;
}
#topDiv>ul li:last-child {
    display: inline;
    margin-right: 4rem;
    margin-left: 4rem;
}
#topDiv>ul li a:link{
    text-decoration: none;
    color: rgb(110, 152, 241);
}
#topDiv>ul li a:visited{
    color: rgb(110, 152, 241);
}
#topDiv>ul li a:hover{
    color: rgb(186, 208, 253);
}

h1#title {
    font-family: rainMaker;
    font-size: 2rem;
    color: rgba(245, 109, 143, 0.74);
    text-decoration: underline;
    text-align: center;
    position: relative;
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
    margin-top: 10rem;
}

div#contentDiv {
    position: relative;
    width: 46rem;
    height: 36rem;
    left: 50%;
    margin-left: -23rem;
}
p#content {
    text-indent: 20px;
    font-family: comicSans;
    font-size: 2rem;
    color: rgb(110, 152, 241);
}

@font-face {
    src: url("./Fonts/ComicNeueSansID.ttf");
    font-family: comicSans;
}
@font-face {
    src: url("./Fonts/Therainmaker-4dqD.otf");
    font-family: rainMaker;
}

@media only screen and (max-width: 1200px) {
    #topDiv {
        height: 3.6rem;
        width: 54rem;
        left: 50%;  
        margin-left: -27rem;
    }
    #topDiv>#topLogo {
        float: left;
        margin-left: 3%;
        width: 10rem;
    }
    #topDiv>ul {
        font-size: 1rem;
        height: 1.2rem;
        margin-top: -0.6rem;
        margin-left: 6rem;
    }
    #topDiv>ul li {
        margin-left: 2.4rem;
    }
    #topDiv>ul li:last-child {
        margin-right: 2.4rem;
        margin-left: 2.4rem;
    }

    h1#title {
        font-size: 1.6rem;
        width: 18rem;
        left: 50%;
        margin-left: -9rem;
        margin-top: 6rem;
    }

    div#contentDiv {
        width: 28rem;
        height: 2rem;
        margin-left: -14rem;
    }
    p#content {
        text-indent: 12px;
        font-size: 1.6rem;
    }
}